<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Library is Efosa's &copy;. Theme is from<a href="https://getbootstrap.com"> Bootstrap</a></p>
    </div>
</footer>


<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>


</body>

</html>